html{
    background: #C4C4C4;
}
body{
    font-family:'Courier New', Courier, monospace;
    margin: 40px;
    padding: 40px;
    color: #000000;
}
header{
    background: #2C2C2C;
}
h1{
    color: #4F8A21;
    font-size: 3.5em;
}
img.container{
    max-width: 70%;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}
.container {
    height: 275px;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    background-color: #2C2C2C;
    color: #4F8A21;
    line-height: 2;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
.logout{
    position: absolute;
    top: 10%;
    right: 10px;
}
button.logout{
    width: 200px;
    height: 50px;
    fill: #C4C4C4;
    border: 4px solid black;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
}
.feature{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    font-weight: bold;
}